@page "/"
@inject CosmosService _cosmos;
@inject IJSRuntime JS;
@using CsvHelper;
@using System.Globalization;

<PageTitle>Edge Logins Data</PageTitle>

<h1 class="pb-3">Edge Logins Data</h1>
<p>
<RadzenButton Text="Load Data" Click=@LoadData IsBusy="@hideButton" BusyText="Loading..." class="w-25" />
@if (data is not null) 
{
    <RadzenButton Text="Export to CSV (Counts)" Click=@DownloadLoginDataCountsCsv class="w-25" />
    <RadzenButton Text="Export to CSV (w/ Logins)" Click=@DownloadLoginDataFullCsv class="w-25" />
}
</p>
@if (data is not null) { 
    <p><strong> Item Count - @data.Count()</strong></p>
}

<p>
@if (data is not null)
{
    <RadzenDataGrid @ref="grid" RowRender="@RowRender" ExpandMode="@DataGridExpandMode.Multiple" 
        Data="@data" TItem="LoginData" AllowSorting="true" AllowMultiColumnSorting="true"
        AllowPaging="true" PageSize="15" AllowFiltering="true">
        <Template Context="LoginData">
            <RadzenDataGrid Data="@LoginData.Logins" TItem="Login" AllowSorting="true" AllowMultiColumnSorting="true"
                AllowPaging="true" PageSize="10" AllowFiltering="true">
                <Columns>
                    <RadzenDataGridColumn TItem="Login" Property="OriginUrl" Title="URL" FilterProperty="OriginUrl.ToString()" />
                    <RadzenDataGridColumn TItem="Login" Property="UserName" Title="Username" />
                    <RadzenDataGridColumn TItem="Login" Property="NeverRemember" Title="Never Remember" />
                </Columns>
            </RadzenDataGrid>
        </Template>
        <Columns>
            <RadzenDataGridColumn TItem="LoginData" Property="Username" Title="Username" />
            <RadzenDataGridColumn TItem="LoginData" Property="ComputerName" Title="Computer Name" />
            <RadzenDataGridColumn TItem="LoginData" Property="ProfileName" Title="Profile Name" />
            <RadzenDataGridColumn TItem="LoginData" Property="LoginsSavedCount" Title="# of Saved" SortOrder="SortOrder.Descending" />
            <RadzenDataGridColumn TItem="LoginData" Property="LoginsBlockedCount" Title="# of Blocked" />
        </Columns>
    </RadzenDataGrid>
}
</p>

@code {
    IEnumerable<LoginData>? data;
    RadzenDataGrid<LoginData>? grid;
    bool hideButton = false;

    async void LoadData()
    {
        data = null;
        hideButton = true;
        data = await _cosmos.GetAllDocuments();
        hideButton = false;
        StateHasChanged();
    }

    void RowRender(RowRenderEventArgs<LoginData> args)
    {
        args.Expandable = args.Data.LoginsTotalCount > 0;
    }

    async Task DownloadLoginDataCountsCsv()
    {
        MemoryStream memStream = new();

        using var writer = new StreamWriter(memStream);

        using CsvWriter csv = new(writer,CultureInfo.InvariantCulture);

        csv.Context.RegisterClassMap<LoginDataMap>();
        csv.WriteRecords(data);

        string fileName = "LoginDataCounts.csv";
        string contentType = "text/plain";

        await JS.InvokeVoidAsync("downloadFile", fileName, contentType, memStream.ToArray());
    }

    async Task DownloadLoginDataFullCsv()
    {
        if (data is null) { return; }
        List<LoginDataFull> dataFull = new();
        foreach (var d in data)
        {
            var obj = LoginDataFull.GetFullData(d);
            dataFull.AddRange(obj);
        }
        MemoryStream memStream = new();

        using var writer = new StreamWriter(memStream);

        using CsvWriter csv = new(writer,CultureInfo.InvariantCulture);

        csv.Context.RegisterClassMap<LoginDataFullMap>();
        csv.WriteRecords(dataFull);

        string fileName = "LoginDataWithUrls.csv";
        string contentType = "text/plain";

        await JS.InvokeVoidAsync("downloadFile", fileName, contentType, memStream.ToArray());
    }
}


